# MMSegmentation (Python 3.12, CUDA 12.1)

--extra-index-url https://download.pytorch.org/whl/cu121
--find-links https://download.openmmlab.com/mmcv/dist/cu121/torch2.4/index.html

# PyTorch
torch==2.4.1
torchvision==0.19.1

# OpenMMLab
mmcv==2.2.0
mmengine==0.10.7

# Utilities
addict==2.4.0
ftfy==6.3.1
matplotlib==3.10.5
numpy==1.26.4
opencv-python==4.11.0.86
packaging==25.0
pillow==11.3.0
prettytable==3.16.0
PyYAML==6.0.2
regex==2025.7.34
rich==14.1.0
scipy==1.16.1
tensorboard==2.20.0
termcolor==3.1.0
yapf==0.43.0

# Install local MMSegmentation
-e .